exampleFlow.json
[{"id":"b5264ff.753a8b","type":"mqtt out","z":"22e9124c.37c21e","name":"","topic":"node/lcd:0/barometer/-/interval/set","qos":"","retain":"","broker":"29fba84a.b2af58","x":800,"y":560,"wires":[]},{"id":"c4a74289.d4804","type":"debug","z":"22e9124c.37c21e","name":"","active":false,"console":"false","complete":"false","x":530,"y":520,"wires":[]},{"id":"676984b0.33c57c","type":"function","z":"22e9124c.37c21e","name":"show outside temp","func":"\n\nif(msg.topic == \"some/temperature/topic\")\ncontext.set(\"temp\",msg.payload);\n\nif(msg.topic.indexOf(\"set\") == -1){\nmsg.payload = parseFloat(context.get(\"temp\"));\nnode.status({fill:\"green\",shape:\"dot\",text:msg.payload});\nreturn msg;\n}","outputs":1,"noerr":0,"x":550,"y":560,"wires":[["b5264ff.753a8b","c6829270.e6e87"]]},{"id":"c0e45e4b.ce082","type":"mqtt in","z":"22e9124c.37c21e","name":"","topic":"node/kit-lcd-thermostat:0/#","qos":"2","broker":"29fba84a.b2af58","x":280,"y":560,"wires":[["676984b0.33c57c","c4a74289.d4804"]]},{"id":"91df37ef.59cbd8","type":"inject","z":"22e9124c.37c21e","name":"","topic":"some/temperature/topic","payload":"23.3","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":600,"wires":[["676984b0.33c57c"]]},{"id":"c6829270.e6e87","type":"debug","z":"22e9124c.37c21e","name":"","active":false,"console":"false","complete":"false","x":730,"y":520,"wires":[]},{"id":"29fba84a.b2af58","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
